@model Helperland_projectContext.Models.User
@using Microsoft.AspNetCore.Http
<link rel="stylesheet" href="~/css/CustomerDashbord.css" />
<!--BACKGROUND-->
<div class="background" id="top">

<!--NAVBAR-->	
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
      <img src="~/image/logo-small.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto ex">
        <li class="nav-item text-center color-border color ms-xl-3   mt-2 ">
          <a class="nav-link text-light" aria-current="page" asp-action="BookService" asp-controller="Home">Book now</a>
        </li>
        <li class="nav-item text-center color-border ms-xl-3   mt-2 ">
          <a class="nav-link text-light" aria-current="page" asp-action="Prices" asp-controller="Home">Prices & Services</a>
        </li>
        <li class="nav-item text-center ms-xl-3  mt-2 ">
          <a class="nav-link text-light" aria-current="page" href="#">Warrenty  </a>
        </li>
        <li class="nav-item text-center ms-xl-3  mt-2 ">
          <a class="nav-link text-light" aria-current="page" href="#">Blog</a>
        </li>
        <li class="nav-item text-center ms-xl-3  mt-2 ">
          <a class="nav-link text-light" aria-current="page" asp-action="Contact" asp-controller="Home">Contact</a>
        </li>
        @if(Context.Session.GetString("User_id") != null)
        {
        <li class="vertical-line none ms-xl-3 mt-1 "></li>
        <li class="nav-item text-center none ms-xl-3 mt-1 ">
            <a class="nav-link" aria-current="page" href="#"><img src="~/image/icon-notification.png"></a>
        </li>
        <li class="vertical-line none ms-xl-3 mt-1 "></li>
        <li class="nav-item text-center justify-content-center ms-xl-3 dropdown">
            <a class="nav-link p-2 " aria-current="page" id="navbarDropdown" data-bs-toggle="dropdown" href="#"><img class="pe-1" src="~/image/account-profile-image.png"><img src="~/image/white-downarrow.png"></a>
            <ul class="dropdown-menu text-xl-start text-center" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item bg-transparent" href="#">Welcome @Context.Session.GetString("UserName_Session")!</a>
            </li>
            <li> <hr class="dropdown-divider"> </li>
            <li>
                <a class="dropdown-item bg-transparent" href="#">My Dashbord</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">My Settings</a>
            </li>
            <li>
                <a  class="dropdown-item" asp-action="Logout" asp-controller="Home" >Logout</a>
            </li>
            </ul>
        </li>
        }
        else
        {
        <li class="nav-item text-center color-border color ms-xl-3 mt-3 ">
          <a class="nav-link text-light" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Login</a>
        </li>
        <li class="nav-item text-center color-border color ms-xl-3 mt-3 ">
          <a class="nav-link text-light" aria-current="page" asp-action="ServiceProvider" asp-controller="Home">Become a Helper</a>
        </li>

        }
      </ul>
    </div>
  </div>
</nav>
</div>



<!--Welcome Sandip -->
<section class="mb-5">
  <div class="container-fluid welcome-sandip d-flex flex-column text-center justify-content-center align-items-center">
    <h1 class="welcome">Welcome,<span class="sandip"> @TempData["username"]! </span></h1>
  </div>     
  <section class="container-fluid pt-3">
    <div class=" row ">
      <div class="col-lg-3 col-12 tabs-menu me-0 pe-0">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-list" aria-controls="navbar-list" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-light" id="navbar-list">
            <ul class="nav tabs nav-pills justify-content-center align-content-start flex-column text-center text-xl-start">
              <li class="nav-item">
                <a class="nav-link" id="tabs-D" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Dashbord" aria-controls="tabs-Dashbord" aria-selected="false">Dashbord</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabs-SH" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Service-History" aria-controls="tabs-Service-History" aria-selected="false">Service History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabs-SS" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Service-Schedule" aria-controls="tabs-Service-Schedule" aria-selected="false">Service Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabs-FP" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Favourite-Pros" aria-controls="tabs-Favourite-Pros" aria-selected="false">Favourite Pros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabs-i" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Invoices" aria-controls="tabs-Invoices" aria-selected="false">Invoices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabs-N" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Notifications" aria-controls="tabs-Notifications" aria-selected="false">Notifications</a>
              </li>

            </ul>
          </div>
        </nav>
      </div>
      <div class="col-lg-9 col-12 ms-0 ps-0">
        <div class="tab-content description-part">
                <div class="a">
                  <ul class="nav nav-tabs nav-pills nav-fill w-100 me-0 pe-0">
                    <li class="nav-item nav-flex">
                      <a class="nav-link active" data-bs-toggle="pill" href="#settings">Details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="Address" data-bs-toggle="pill" href="#address">Address</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="yd" data-bs-toggle="pill" href="#password">Passwords</a>
                    </li>
                  </ul>
                </div>
                <div class="tab-content">
                  <div class="tab-pane active" id="settings">
                      @using (Html.BeginForm("CustomerSettings" , "Home" , FormMethod.Post))
        {
                @Html.Hidden("UserId");
                    <div class="d-flex flex-xl-nowrap flex-row w-100 mt-3">
                      <div class="d-flex flex-xl-nowrap flex-column w-100 pe-3">
                        <span class="mb-3">
                          <label class="form-label fw-bold settings-head">First Name</label><br>
                          <span class="col-sm-5 w-100">
                            <input type="text" asp-for="FirstName" id="f_name" class="form-control" placeholder="First Name">
                          </span>
                        </span>
                        <span class="mb-3">
                          <label class="form-label fw-bold settings-head">Mobile number</label><br>
                          <span class="input-group col-sm-5 w-100">
                            <span class="input-group-text" id="basic-addon1">+49</span>
                            <input type="text" asp-for="Mobile" id="mobile" class="form-control" placeholder="Mobile number">
                          </span>
                        </span>
                      </div>
                      <div class="d-flex flex-xl-nowrap flex-column w-100 pe-3">
                        <span class="mb-3">
                          <label class="form-label fw-bold settings-head">Last Name</label><br>
                          <span class="col-sm-5 w-100">
                            <input type="text" asp-for="LastName" id="l_name" class="form-control" placeholder="Last Name">
                          </span>
                        </span>
                        <span>
                          <label class="form-label fw-bold settings-head">Date Of birth</label><br>
                          <span class="d-flex w-100">
                             <input type="text" asp-for="DateOfBirth" id="date" class="form-control" placeholder="Date of birth">
                          </span>
                        </span>
                      </div>
                      <div class="d-flex flex-xl-nowrap flex-column w-100">
                        <span class="mb-3">
                          <label class="form-label fw-bold settings-head">Email id</label><br>
                          <span class="col-sm-5 w-100">
                            <input type="text" class="form-control" id="mail" asp-for="Email" placeholder="Email id">
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="seprator-line mt-3"></div>
                    <span class="mb-3">
                      <label class="form-label mt-2 fw-bold settings-head">My Preffered Language</label>
                      <select class="form-select language">
                        <option value="1">English</option>
                        <option value="2">German</option>
                      </select>
                    </span>
                    <button type="submit" class="book-now mt-3 ps-2 pe-2" id="save_detail" >Save</button>
                    }
                  </div>
                  <div class="tab-pane" id="address">

                  </div>
                  <div class="tab-pane" id="password">
                    @Html.Partial("CustomerUpdatePassword")
                  </div>
            </div>
          </div>
        </div>
      </div>
   
  </section>
</section>

<div class="footer-navbar px-5 py-4 d-flex justify-content-between align-items-center flex-lg-row flex-column">
  <img class="mx-lg-4 ms-4 mb-lg-0 mb-3" src="~/image/logo-small.png">
  <ul class=" d-flex flex-lg-row gap-lg-4 gap-0 pe-lg-5 me-lg-5 text-center align-items-center flex-column ">
    <li class="mb-lg-0 mb-2">
      <a href="index.html">HOME</a>
    </li>
    <li class="mb-lg-0 mb-2">
      <a href="About.html">ABOUT</a>
    </li>
    <li class="mb-lg-0 mb-2">
      TESTIMONIALS
    </li>
    <li class="mb-lg-0 mb-2">
      <a href="FAQ.html">FAQs</a>
    </li>
    <li class="mb-lg-0 mb-2">
      INSURANCE POLICY
    </li>
    <li class="mb-lg-0 mb-2">
      IMPRESSUM
    </li>
  </ul>
  <div class="social-media">
    <img class="me-2 ps-4 " src="~/image/facebook.png">
    <img src="~/image/instagram.png">
  </div>
</div>
<div class="d-flex flex-column privacy-faq pb-3">
  <div class="footer-line"></div>
  <div class="text-center pt-3">©2018 Helperland. All rights reserved.     Terms and Conditions  |  Privacy Policy</div>
</div>




<script>
    $("#Address").click(function(){
        $("#address").load('@Url.Action("CustomerAddress","Home")')
    });
    $("#AddOrEdit").click(function(){
        $("#body").load('@Url.Action("CustomerAddOrEdit")')
    });
    var addressid;
    $(document).on("click","#delete-icon",function(){
        addressid = $(this).attr('data-id');
    });
    $(document).on("click","#deleteAddress" , function(){
        $.ajax({
            url: '@Url.Action("DeleteAddress", "Home")',
            method: "POST",
            dataType : "json",
            data: { id: addressid },
            success: function(resp){
                console.log(resp);
                document.getElementById("#delete1").classList.add("hide");
                $("#address").load('@Url.Action("CustomerAddress","Home")');
            },
            error: function(err){
                console.log(err);   
                alert("error");
            }
        });
    });
</script>
@*
<script>
    $(document).on("click","#save_detail",function(){
        var detail = {
        "FirstName" : $("#f_name").text(),
        "LastName" : $("#l_name").text(),
        "Mobile" : $("#mobile").text(),
        "DateOfBirth" : $("#date").val(),
        "Email" : $("#mail").text(),
        };
        console.log(detail);
        $.ajax({
            url: '@Url.Action("updateDetail", "Home") ',
            method: "POST",
            dataType : "json",
            data: JSON.stringify(detail),
            contentType: "application/json; charset=utf-8",
            async : true,
            cache : false,
            success: function(resp){
                console.log(resp);
                alert(resp);
            },
            error: function(err){
                console.log(err);   
                alert("error");
            }
        });
        
    })
</script>*@
@*<script>
        $(document).on("click","#save_password",function(){
        var password = {
        "+Password" : $("#password1").val(),
        "NewPassword" : $("#password2").val(),
        "ConfirmPassword" : $("#password3").val()
        };
        console.log(password);
        if (password.Password == "" || password.NewPassword == "" || password.ConfirmPassword == "") {
            alert("All Fields are Required!");
        }
        else if (password.NewPassword != password.ConfirmPassword) {
            alert("Password Must Match!");
        }
        else{
            $.ajax({
                url: '@Url.Action("updatePassword", "Home")',
                method: "POST",
                dataType : "json",
                data: JSON.stringify(password),
                contentType: "application/json; charset=utf-8",
                async : true,
                cache : false,
                success: function(resp){
                    console.log(resp);
                    alert(resp);
                },
                error: function(err){
                    console.log(err);   
                    alert("error");
                }
            });
        }
        
    });
</script>*@