@using Helperland_projectContext.Models;
@model IEnumerable<UserAddress>

        <table class="w-100 border-box table align-middle mt-3 justify-content-between">
            <thead>
            <tr>
                <th class="ps-5 pe-5">Addresses</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @if(Model != null)
            {
                foreach (var items in Model)
                {
                    <tr>
                        <td class="ps-5 pe-5">
                            <span class="row-head">Address:</span>@items.AddressLine1 , @items.AddressLine2 , @items.City , @items.PostalCode<br>
                            <span class="row-head">Phone Number:</span> @items.Mobile.
                        </td>
                        <td>
                            <button id="EditIcon" onclick="edit(@items.AddressId)" data-id="@items.AddressId" @*data-bs-target="#Edit" data-bs-toggle="modal"*@><img src="~/image/edit-icon.png"></button>
                            <button id="delete-icon" data-id="@items.AddressId" data-bs-toggle="modal" data-bs-target="#delete1"><img src="~/image/delete-icon.png"></button>
                        </td>
                    </tr>   
                }
            }
            </tbody>
        </table>
        <button data-bs-target="#Add" data-bs-toggle="modal" id="addnew" class="book-now mt-3 ps-2 pe-2">Add New Address</button>
<!--Delete service modal-->
<div class="modal fade" id="delete1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <span class="modal-title" id="exampleModalLabel">Cancel Service Request</span>
          <button type="button" class="btn-close x" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <span class="mt-2 model-head">Are you sure you want to delete?</span><br>
        <button   class="update mt-2" id="deleteAddress" type="button">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="Editbody">
                 
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" id="Addbody"> 
            
         
       </div>
    </div>
  </div>
</div>
<script>

    $(document).on("click","#addnew",function(){
        $("#Addbody").load("@Url.Action("CustomerAddAddress","Home")")
    });
   
    
</script>





