@model Helperland_projectContext.Models.User
@using Microsoft.AspNetCore.Http

<link rel="stylesheet" href="~/css/Service-History.css" />

<partial name="~/Views/Shared/Header2.cshtml" />
<!--Welcome Sandip -->
<section class="mb-5">
  <div class="container-fluid welcome-sandip d-flex flex-column text-center justify-content-center align-items-center">
    <h1 class="welcome">Welcome,<span class="sandip"> @Context.Session.GetString("UserName_Session")! </span></h1>
  </div>     
  <section class="container-fluid pt-3">
    <div class=" row ">
      <div class="col-lg-3 col-12 tabs-menu me-0 pe-0">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-list" aria-controls="navbar-list" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-light" id="navbar-list">
            <ul class="nav tabs nav-pills justify-content-center align-content-start flex-column text-center text-xl-start">
              <li class="nav-item">
                <a class="nav-link" id="tabs-D" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Dashbord" aria-controls="tabs-Dashbord" aria-selected="false">Dashbord</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabs-SH" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Service-History" aria-controls="tabs-Service-History" aria-selected="false">Service History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabs-SS" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Service-Schedule" aria-controls="tabs-Service-Schedule" aria-selected="false">Service Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabs-FP" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Favourite-Pros" aria-controls="tabs-Favourite-Pros" aria-selected="false">Favourite Pros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabs-i" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Invoices" aria-controls="tabs-Invoices" aria-selected="false">Invoices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabs-N" data-bs-toggle="pill" asp-action="CustomerDashbord" asp-controller="Home" data-bs-target="#tabs-Notifications" aria-controls="tabs-Notifications" aria-selected="false">Notifications</a>
              </li>

            </ul>
          </div>
        </nav>
      </div>
      <div class="col-lg-9 col-12 ms-0 ps-0">
        <div class="tab-content description-part">
                <div class="a">
                  <ul class="nav nav-tabs nav-pills nav-fill w-100 me-0 pe-0">
                    <li class="nav-item nav-flex">
                      <a class="nav-link active" data-bs-toggle="pill" href="#settings">Details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="Address" data-bs-toggle="pill" href="#address">Address</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="yd" data-bs-toggle="pill" href="#password">Passwords</a>
                    </li>
                  </ul>
                </div>
                <div class="tab-content">
                  <div class="tab-pane active" id="settings">
                      @using (Html.BeginForm("CustomerSettings" , "Home" , FormMethod.Post))
        {
                @Html.Hidden("UserId");
                    <div class="d-flex flex-xl-nowrap flex-row w-100 mt-3">
                      <div class="d-flex flex-xl-nowrap flex-column w-100 pe-3">
                        <span class="mb-3">
                          <label class="form-label fw-bold settings-head">First Name</label><br>
                          <span class="col-sm-5 w-100">
                            <input type="text" asp-for="FirstName" id="f_name" class="form-control" placeholder="First Name">
                          </span>
                        </span>
                        <span class="mb-3">
                          <label class="form-label fw-bold settings-head">Mobile number</label><br>
                          <span class="input-group col-sm-5 w-100">
                            <span class="input-group-text" id="basic-addon1">+49</span>
                            <input type="text" asp-for="Mobile" id="mobile" class="form-control" placeholder="Mobile number">
                          </span>
                        </span>
                      </div>
                      <div class="d-flex flex-xl-nowrap flex-column w-100 pe-3">
                        <span class="mb-3">
                          <label class="form-label fw-bold settings-head">Last Name</label><br>
                          <span class="col-sm-5 w-100">
                            <input type="text" asp-for="LastName" id="l_name" class="form-control" placeholder="Last Name">
                          </span>
                        </span>
                        <span>
                          <label class="form-label fw-bold settings-head">Date Of birth</label><br>
                          <span class="d-flex w-100">
                             <input type="text" asp-for="DateOfBirth" id="date" class="form-control" placeholder="Date of birth">
                          </span>
                        </span>
                      </div>
                      <div class="d-flex flex-xl-nowrap flex-column w-100">
                        <span class="mb-3">
                          <label class="form-label fw-bold settings-head">Email id</label><br>
                          <span class="col-sm-5 w-100">
                            <input type="text" class="form-control" id="mail" asp-for="Email" placeholder="Email id" readonly="readonly">
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="seprator-line mt-3"></div>
                    <span class="mb-3">
                      <label class="form-label mt-2 fw-bold settings-head">My Preffered Language</label>
                      <select class="form-select language">
                        <option value="1">English</option>
                        <option value="2">German</option>
                      </select>
                    </span>
                    <button type="submit" class="book-now mt-3 ps-2 pe-2" id="save_detail" >Save</button>
              }
                  </div>
                  <div class="tab-pane" id="address">

                  </div>
                  <div class="tab-pane" id="password">
                    @Html.Partial("CustomerUpdatePassword")
                  </div>
            </div>
          </div>
        </div>
      </div>
   
  </section>
</section>

<div class="footer-navbar px-5 py-4 d-flex justify-content-between align-items-center flex-lg-row flex-column">
  <img class="mx-lg-4 ms-4 mb-lg-0 mb-3" src="~/image/logo-small.png">
  <ul class=" d-flex flex-lg-row gap-lg-4 gap-0 pe-lg-5 me-lg-5 text-center align-items-center flex-column ">
    <li class="mb-lg-0 mb-2">
      <a href="index.html">HOME</a>
    </li>
    <li class="mb-lg-0 mb-2">
      <a href="About.html">ABOUT</a>
    </li>
    <li class="mb-lg-0 mb-2">
      TESTIMONIALS
    </li>
    <li class="mb-lg-0 mb-2">
      <a href="FAQ.html">FAQs</a>
    </li>
    <li class="mb-lg-0 mb-2">
      INSURANCE POLICY
    </li>
    <li class="mb-lg-0 mb-2">
      IMPRESSUM
    </li>
  </ul>
  <div class="social-media">
    <img class="me-2 ps-4 " src="~/image/facebook.png">
    <img src="~/image/instagram.png">
  </div>
</div>
<div class="d-flex flex-column privacy-faq pb-3">
  <div class="footer-line"></div>
  <div class="text-center pt-3">©2018 Helperland. All rights reserved.     Terms and Conditions  |  Privacy Policy</div>
</div>

<script>
    $("#Address").click(function(){
        $("#address").load('@Url.Action("CustomerAddress","Home")')
    });
    var addressid;
    $(document).on("click","#delete-icon",function(){
        addressid = $(this).attr('data-id');
    });
    $(document).on("click","#deleteAddress" , function(){
        $.ajax({
            url: '@Url.Action("DeleteAddress", "Home")',
            method: "POST",
            dataType : "json",
            data: { id: addressid },
            success: function(resp){
                $("delete1").modal('hide');
                location.reload();
            },
            error: function(err){
                console.log(err);   
                alert("error");
            }
        });
    });
        function edit(id)
    {
        console.log(id);
        $.ajax({
            type:"get",
            url: "@Url.Action("CustomerEditaddress","Home")",
            data : { id : id, isAjax : true },
            success: function(resp)
            {
                //console.log(resp);
                $("#Editbody").html(resp);
                $("#Edit").modal('show');
            },
            error: function(err)
            {
                console.log(err);
                alert("error");
            }
        });
    }
     
    function add(){

        var obj = {};
        obj.AddressLine1 = $("#line1").val();
        obj.AddressLine2 = $("#line2").val();
        obj.City = $("#city").val();
        obj.Mobile = $("#mobile").val();
        obj.PostalCode = $("#pin").val();
        console.log(obj);
        $.ajax({
            url: '@Url.Action("CustomerAddaddress", "Home")',
            method: "POST",
            dataType : "json",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            async : true,
            cache : false,
            success: function(resp){
                console.log(resp);
                if(resp.issuccess == true)
                {
                    alert(resp);
                    $("Add").modal('hide');
                    location.reload();
                }
                else
                {
                    alert("something wrong");
                }
            },
            error: function(err){
                console.log(err);   
                alert("error");
            }
        });
    }
    $(document).on("click","#EditIcon",function(){
        addressid = $(this).attr('data-id');
    });
    function editAdd()
    {
        var Obj = {};
        Obj.AddressId = parseInt(addressid);
        Obj.AddressLine1 = $("#line1").val();
        Obj.AddressLine2 = $("#line2").val();
        Obj.City = $("#city").val();
        Obj.Mobile = $("#mobile1").val();
        Obj.PostalCode = $("#pin").val();
        console.log(Obj);
        $.ajax({
            url: '@Url.Action("CustomerEditAddress", "Home")',
            type : "POST",
            data: JSON.stringify(Obj),
            contentType: "application/json; charset=utf-8",
            async : true,
            cache : false,
            success: function(resp){
                 console.log(resp);
                 if(resp)
                 {
                    alert(resp);
                    $("Edit").modal('hide');
                    $("#address").load('@Url.Action("CustomerAddress","Home")');
                 }
                 else
                 {
                    alert("wrong");
                 }
            },
            error: function(err){
                console.log(err);   
                alert("error");
            }
        });
    }

</script>
